<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 md-12">
      <div id="subscription">
        <h4 class="mt-5 mb-3">Subscriptions</h4>
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Tag</th>
              <th scope="col">Description</th>
              <th scope="col">Email Notification</th>
              <th scope="col">Auto Trade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subscription of subscriptions; index as i">
              <!-- <th scope="row">{{i + 1}}</th> -->
              <td>{{subscription?.tag | titlecase }}</td>
              <td>{{subscription?.description | titlecase}}</td>
              <td>
                <div class="form-switch">
                <input #toggleEmailNotification
                    class="form-check-input"
                    id="toggleEmailNotification"
                    type="checkbox"
                    [checked]="subscription?.email_notification"
                    (change)="onEmailNotificationChange(subscription.rule_id, subscription.username, toggleEmailNotification.checked)">
                </div>
              </td>
              <td>
                <div class="form-switch">
                  <input #toggleAutoTrade
                      class="form-check-input"
                      id="toggleEmailNotification"
                      type="checkbox"
                      [checked]="subscription?.auto_trade"
                      (change)="onAutoTradeChange(subscription.rule_id, subscription.username, toggleAutoTrade.checked)">
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="serverresponse">
        <p *ngIf="isUpdated && emailSwitchClicked && hasServerResponse" class="bg-success">Email Update Success!</p>
        <p *ngIf="!isUpdated && emailSwitchClicked && hasServerResponse" class="bg-warning">Email Update Failed!</p>
        <p *ngIf="isUpdated && tradeSwitchClicked && hasServerResponse" class="bg-success">Auto Trade Update Success!</p>
        <p *ngIf="!isUpdated && tradeSwitchClicked && hasServerResponse" class="bg-warning">Auto Trade Update Failed!</p>
      </div>
    </div>
  </div>
</div>
