<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid col-md-6 col-sm-10 col-xs-10">
        <span class="navbar-brand"><i class="navbar-brand bi-coin"></i>Coin Twitter</span>
  </div>
</nav>
<div class="container-fluid">
<div class="row d-flex justify-content-center mt-5">
  <div class="col-md-6 col-sm-10 col-xs-10">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="mt-4 row">
      <h5><label for="username">Username</label></h5>
      <div class="input-group">
        <input type="email" name="email" class="form-control" placeholder="example@gmail.com" formControlName="username">
      </div>
      <small class="form-text text-danger" *ngIf="form.controls['username'].invalid && form.controls['username'].dirty && form.controls['username'].touched">Please enter a valid email</small>
    </div>
    <div class="mt-4 row">
      <h5><label for="password">Password</label></h5>
      <div class="input-group">
        <input
            [type]="fieldTextType ? 'text' : 'password'"
            name="password"
            class="form-control"
            placeholder="password"
            formControlName="password"
        >
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="bi bi-eye-slash" [ngClass]="{
              'bi-eye-slash': !fieldTextType,
              'bi-eye': fieldTextType
            }"
            (click)="toggleFieldTextType()"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <span>Not registered? Signup <a [routerLink]="['/signup']">here</a></span>
    </div>
    <div class="row mt-4">
      <div class="col">
        <button class="btn btn-primary text-right" type="submit" [disabled]="form.invalid">Login</button>
      </div>
    </div>
    <div class="row mt-4">
      <p *ngIf="errLogin">
        <ngb-alert type="danger" [dismissible]="false">Error! Unable to login</ngb-alert>
      </p>
    </div>
  </form>
  </div>
</div>
</div>
