<div class="container">
  <h2>Signup</h2>
  <div class="row mt-3 ">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="mt-4 row">
      <h4><label for="username">Username</label></h4>
      <input type="email" name="email" class="form-control" placeholder="Enter an email address as username" formControlName="username">
      <small class="form-text text-danger" *ngIf="form.controls['username'].invalid && form.controls['username'].dirty && form.controls['username'].touched">Please enter a valid email</small>
    </div>
    <div class="mt-4 row">
      <h4><label for="password">Password</label></h4>
      <input type="password" name="password" class="form-control" placeholder="Enter a password"formControlName="password" [(ngModel)]="password">
      <small class="form-text text-danger" *ngIf="(password.length != 6) && form.controls['password'].dirty">Password must be at least 6 characters</small>
    </div>
    <div class="mt-4 row">
      <h4><label for="confirmpassword">Confirm Password</label></h4>
      <input type="password" name="confirmpassword" class="form-control" placeholder="Enter password again" formControlName="confirmpassword" [(ngModel)]="confirmpassword">
      <small class="form-text text-danger" *ngIf="(!(password == confirmpassword) && form.controls['password'].dirty && form.controls['confirmpassword'].dirty)">Password does not match</small>
    </div>
    <div class="row mt-5">
      <button class="btn btn-primary col-1" type="submit" [disabled]="form.invalid || (password != confirmpassword)">Register</button>
    </div>
  </form>
  </div>
</div>
