<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid col-md-6 col-sm-10 col-xs-10">
        <span class="navbar-brand"><i class="navbar-brand bi-coin"></i>Coin Twitter</span>
  </div>
</nav>
<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6 col-sm-10 col-xs-10">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="mt-4 row">
          <h5><label for="email" class="input-group">Username</label></h5>
          <div class="input-group">
            <input type="email" name="email" class="form-control" placeholder="Enter an email address as username" formControlName="username">
          </div>
          <small class="form-text text-danger" *ngIf="form.controls['username'].invalid && form.controls['username'].dirty && form.controls['username'].touched">Please enter a valid email</small>
        </div>
        <div class="mt-4 row">
          <h5><label for="password" class="input-group">Password</label></h5>
          <div class="input-group">
            <input type="password" name="password" class="form-control" placeholder="Enter a password"formControlName="password">
          </div>
          <small class="form-text text-danger" *ngIf="form.get('password')?.hasError('minlength') && form.controls['password'].dirty">Password must be at least 6 characters</small>
        </div>
        <div class="mt-4 row">
          <h5><label for="confirmpassword">Confirm Password</label></h5>
          <div class="input-group">
          <input type="password" name="confirmpassword" class="form-control" placeholder="Enter password again" formControlName="confirmpassword">
          </div>
          <small class="form-text text-danger" *ngIf="form.hasError('notSame') && form.controls['password'].dirty && form.controls['confirmpassword'].dirty">
            Passwords do not match
          </small>
        </div>
        <div class="row mt-5">
            <div class="col">
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid || form.hasError('notSame')">Register</button>
            |
            <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
            </div>
        </div>
      </form>
      <div class="registermessage row mt-5">
        <p *ngIf="isRegistered && hasServerResponse">
          <ngb-alert type="success" [dismissible]="false">Successfully registered!</ngb-alert>
        </p>
        <p *ngIf="!isRegistered && hasServerResponse">
          <ngb-alert type="danger" [dismissible]="false">Error, not registered!</ngb-alert>
        </p>
      </div>
    </div>
  </div>
</div>
